{% extends 'grandmas_kitchen/index.html' %}
{% block content %}
	<div>
		{% if form.errors %}
			<p>There's an error!</p>
		{% endif %}

		<form method='post' action="{% url 'login' %}">
			{% csrf_token %}
			<p>Username: {{form.username}} </p>
			<p>Password: {{form.password}} </p>
			<button class='btn' type='submit' value='Log In'>Log In</button>
			<input type="hidden" value='{{next}}'>
		</form>
		<form method='get' action="{% url 'register' %}">
			<button class='btn' type='submit' value='Register'>Register</button>
		</form>

	</div>
{% endblock %}